*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden !important;
}

:root {
  --color-primary:#ffff;
  --color-secondary:#F4F6FB;
  --color-tertiary:#F2F2F7;
  --color-text-primary:rgb(0,0,0);
  --color-text-secondary:#2C2C2E;
  --color-text-tertiary:#3040E5;
  --color-ticketing-logo:#0DB76F;
  --color-button-primary:#3040E5;
}

.dark_theme {
  --color-primary:#050519;
  --color-secondary:#282C34;
  --color-tertiary:#333B4A;
  --color-text-primary:#ffffff;
  --color-text-secondary:rgba(255,255,255,0.75);
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

p, h1, h2, li, button, div {
  color: var(--color-text-primary);
}

body {
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.67rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 12vh minmax(100vh, min-content) min-content;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: var(--color-primary);
  grid-column: container-start/container-end;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.navigation-bar {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar__left {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(1.2rem + 10%);
}
.navigation-bar__left img {
  height: calc(8.2rem + 10%);
  width: calc(8.2rem + 10%);
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation-bar__right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation-bar__face-icon {
  cursor: pointer;
}
.navigation-bar__elements {
  display: flex;
  width: 40%;
  padding-right: 1rem;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.6rem;
}
.navigation-bar__face-icon {
  padding-right: calc(2.5rem + 8%);
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar__menu-button {
  display: none;
}

.main {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-rows: 88vh repeat(3, 100vh) minmax(40vh, min-content);
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.67rem) [col-end]) [center-end] 1fr [container-end];
  gap: 6rem 0;
}

.introduction-section {
  background-color: var(--color-primary);
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction-content {
  padding-bottom: 2%;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.introduction-content .profile-image-and-intro {
  height: calc(8rem + 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}
.introduction-content .profile-image-and-intro img {
  display: block;
  width: 6rem;
  height: 6rem;
}
.introduction-content .profile-image-and-intro p {
  text-align: center;
  font-size: 2.4rem;
}
.introduction-content__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.introduction-content__main__heading {
  padding-bottom: 2rem;
  font-size: 6rem;
  text-align: center;
  line-height: 142%;
}
.introduction-content__main__content {
  font-size: 1.8rem;
  text-align: center;
  line-height: 192%;
}
.introduction-content__buttons-and-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(8rem + 10%);
}
.introduction-content__buttons-and-logos .download-cv-and-hello-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction-content__buttons-and-logos .download-cv-and-hello-button button:first-child {
  margin-right: 1.8rem;
  padding: 0.8rem 1.8rem;
  border-radius: 1.4rem;
  background-color: var(--color-button-primary);
  color: white;
}
.introduction-content__buttons-and-logos .download-cv-and-hello-button button:last-child {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction-content__buttons-and-logos .download-cv-and-hello-button button:last-child img {
  padding-right: 0.5rem;
}
.introduction-content__buttons-and-logos .download-cv-and-hello-button button {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  border: none;
}
.introduction-content__buttons-and-logos .social-media-logos {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.first-product-section {
  background-color: var(--color-primary);
  grid-column: center-start/center-end;
}

.second-product-section {
  background-color: var(--color-primary);
  grid-column: center-start/center-end;
}

.final-product-section {
  background-color: var(--color-primary);
  grid-column: center-start/center-end;
}

.product-section {
  display: flex;
}
.product-section__left {
  width: 54%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-section__left__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.product-section__left__contents__uppermost-unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.product-section__left__contents__uppermost-unit .product__upper-logo-and-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem 1.4rem;
  background-color: var(--color-secondary);
  border-radius: 1.8rem;
  font-size: 1.4rem;
}
.product-section__left__contents__uppermost-unit .product__upper-logo-and-tag img {
  padding-right: 1rem;
}
.product-section__left__contents__uppermost-unit .product__upper-logo-and-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product-section__left__contents__uppermost-unit .product__upper-logo-and-name img {
  margin: 1.5rem 1.5rem 1.5rem 1rem;
}
.product-section__left__contents__uppermost-unit .product__upper-logo-and-name p {
  font-size: 3.6rem;
  font-weight: 600;
}
.product-section__left__contents__main {
  font-size: 1.8rem;
  line-height: 190%;
}
.product-section__left__contents__logos-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem 0;
}
.product-section__left__contents__logos-and-button .left-product-logos {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product-section__left__contents__logos-and-button .left-product-logos img:not(:first-child) {
  margin-left: 3.5rem;
}
.product-section__left__contents__logos-and-button button {
  color: white;
  background-color: var(--color-button-primary);
  border: none;
  padding: 1rem 3rem;
  border-radius: 1.8rem;
}
.product-section__right {
  width: 46%;
  height: 100%;
}
.product-section__right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.final-product-section .product__upper-logo-and-name img {
  margin: 0;
}

.application-and-tools-section {
  background-color: var(--color-primary);
  grid-column: container-start/container-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.application-and-tools-section__heading {
  margin-top: 2rem;
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.application-and-tools-section__main {
  margin: 1rem 0 3rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.application-and-tools-section__main .application-and-tools__unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 3rem 0rem 2rem;
  padding: 0 3rem 4rem;
  border-bottom: 0.3rem var(--color-secondary) solid;
}
.application-and-tools-section__main .application-and-tools__unit__logo-and-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.application-and-tools-section__main .application-and-tools__unit__logo-and-heading img {
  padding: 3rem;
  border-radius: 3.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--color-secondary);
}
.application-and-tools-section__main .application-and-tools__unit__logo-and-heading h3 {
  margin: 2rem 0;
}
.application-and-tools-section__main .application-and-tools__unit__main {
  font-size: 1.8rem;
}
.application-and-tools-section__load-more-section {
  height: 3rem;
  margin: 0 0 3rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  padding: 1rem 0;
  border-radius: 2.5rem;
}

.footer {
  grid-column: container-start/container-end;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}
.footer__contents-and-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__contents-and-logo h2 {
  font-size: 3rem;
}
.footer__contents-and-logo p {
  margin: 1.3rem 0;
  font-size: 1.2rem;
}
.footer__contents-and-logo img:not(:first-child) {
  margin-left: 3rem;
}
.footer__button button {
  padding: 1rem 3rem;
  border-radius: 1.8rem;
  background-color: var(--color-button-primary);
  color: white;
  border: none;
}

@media screen and (max-width: 1000px) {
  .introduction-content__main__heading {
    font-size: 4.4rem;
  }
  .introduction-content__main__content {
    font-size: 1.4rem;
  }
  .product-section {
    flex-direction: column-reverse;
  }
  .product-section__left {
    height: 58%;
    width: 100%;
  }
  .product-section__left .product__upper-logo-and-name p {
    font-size: 2rem;
  }
  .product-section__left__contents__main {
    font-size: 1.5rem;
    line-height: 130%;
  }
  .product-section__right {
    height: 42%;
    width: 100%;
  }
}
.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navigation-bar__menu-button {
    display: block;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    padding: 1rem 2rem;
    border-radius: 1.3rem;
    border: none;
    margin-left: 2rem;
  }
  .navigation-bar__face-icon img {
    margin-right: 1rem;
  }
  .navigation-bar .navigation-bar__right {
    width: 40%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: space-around;
    margin-left: 2rem;
  }
  .navigation-bar__elements {
    height: 20rem;
    width: 15rem;
    flex-direction: column;
    position: absolute;
    right: 5%;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    top: 10%;
    transition: all 0.4s ease-in-out;
  }
  .navigation-bar__elements li {
    border: 0.1rem var(--color-text-primary) solid;
    padding: 0.6rem;
    border-radius: 0.4rem;
  }
  .introduction-content .profile-image-and-intro p {
    font-size: 1.8rem;
  }
  .introduction-content__main__heading {
    font-size: 2.8rem;
  }
  .product-section__left__contents__main {
    font-size: 1.2rem;
  }
  .product-section__left__contents__logos-and-button button {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-left: 0.5rem;
  }
  .left-product-logos {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .left-product-logos img {
    margin: 1rem;
  }
  .application-and-tools-section__heading {
    font-size: 1.5rem;
  }
  .application-and-tools__unit__main {
    font-size: 1.3rem !important;
  }
  .footer__contents-and-logo {
    padding-left: 1rem;
  }
  .footer__contents-and-logo h2 {
    font-size: 1.8rem;
  }
  .footer__button {
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .product-section__left__contents {
    padding: 0 3rem;
  }
  .introduction-content__main__heading {
    font-size: 2rem;
  }
  .introduction-content__main__content {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 2rem;
  }
  .download-cv-and-hello-button button {
    font-size: 1.2rem !important;
    margin-right: 1rem;
  }
  .footer__button {
    margin-right: 1.5rem;
  }
  .footer__button button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}