*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    max-width: 100vw;
    // overflow-x: hidden;
    // background-color: var(--color-secondary);
}


:root{
    --color-primary:#ffff;
    --color-secondary:#F4F6FB;
    --color-tertiary:#F2F2F7;
    --color-text-primary:rgb(0,0,0);
   --color-text-secondary:#2C2C2E;
    --color-text-tertiary:#3040E5;
    --color-ticketing-logo:#0DB76F;
    --color-button-primary:#3040E5;

}

.dark_theme{
    --color-primary:#050519;
    --color-secondary:#282C34;
    --color-tertiary:#333B4A;
    --color-text-primary:#ffffff;
    --color-text-secondary:rgba(255,255,255,0.75);
}

button{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}


p,h1,h2,li,button,div{
    color: var(--color-text-primary);
}